<!DOCTYPE html>
<html lang="en">
<head>

<meta name="generator" content="GTPS"/>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="DeepNet42"/>
<meta name="description" content="418. I'm a Teapot."/>


<style>
    body {
        background-color: linen;
    }

    h1 {
        color: red;
        margin-left: 2rem;
    }

    code {
        font-size: normal;
        font-family: 'Courier New', Courier, monospace;
        font-weight: normal;
    }

    #status {
        padding: 1rem;
        border-style: solid;
        border-color: black;
        border-radius: 25px;
        border-width: 1px;
        padding: 20px;
        width: fit-content;
        height: fit-content; 
    }


    details {
        font: 16px "Open Sans", Calibri, sans-serif;
        width: 620px;
    }

    details > summary {
        padding: 2px 6px;
        width: fit-content;
        background-color: #ddd;
        border: none;
        box-shadow: 3px 3px 4px black;
        cursor: pointer;
    }

    details[open] > pre {
        border-radius: 0 0 10px 10px;
        background-color: #ddd;
        padding: 2px 6px;
        margin: 0;
        box-shadow: 3px 3px 4px black;
    }

    details[open] > summary {
        background-color: #ccf;
    }

    blockquote {
        margin: 0;
    }

    blockquote p {
        padding: 15px;
        border-radius: 5px;
    }

    blockquote p::before {
        content: '\201C';
    }

    blockquote p::after {
        content: '\201D';
    }


</style>






<title>Welcome to smartBrewSystem</title>
</head>
<body>

<h1>418. I am a teapot.</h1>

<div id = "status">
<pre>
<code>
Appliance Name   : Albert-tea (smartBrew, GTPS)
Appliance Version: 1.0
{{{STATUS}}}
</code>
</pre>
</div>

<figure>
    <blockquote>
    <p>
    Tea is an act complete in its simplicity. When I drink tea, there is only me and the tea. The rest of the world dissolves. There are no worries about the future. No dwelling on past mistakes. Tea is simple: loose-leaf tea, hot pure water, a cup. I inhale the scent, tiny delicate pieces of the tea floating above the cup. I drink the tea, the essence of the leaves becoming a part of me. I am informed by the tea, changed. This is the act of life, in one pure moment, and in this act the truth of the world suddenly becomes revealed: all the complexity, pain, drama of life is a pretense, invented in our minds for no good purpose. There is only the tea, and me, converging.
    </p>
    <figcaption>Thich Nhat Hanh</figcaption>
    </blockquote>
</figure>
<p><em>You can brew tea using the <a href="https://www.rfc-editor.org/rfc/rfc7168">HTCPCP</a> protocol.</em></p>

<div>
<details>
    <summary>HTCPCP sample client request</summary>
    <pre>
    <code>
GET /smartBrew/ HTCPCP/1.0
Accept: text/html; charset=utf-8
Accept-Language: en-US,en
Cache-Control: max-age=0
User-Agent: TEACUP/1.0 (HTCPCP/1.0)
    </code>
    </pre>
</details>
</div>

<div>
<details>
    <summary>HTCPCP sample server response</summary>
    <pre>
    <code>
SERVER RESPONSE:
HTCPCP/1.1 200 OK
Accept-Language:*
Access-Control-Allow-Methods:GET,BREW,POST,PROPFIND,WHEN
Cache-Control:no-cache
Content-Type:text/html; charset=utf-8
Server:GTPS (HTCPCP/1.0)

smartBrew is READY!
    </code>
    </pre>
</details>
</div>

</body>
</html>